/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --dark-1: #171c28;
  --dark-2: #292e39;
  --dark-3: #b9babe;
  --dark-4: #2f3441;
  --background-2: #f6f6f6;
  --background-3: #eeeeee;
  --secondary-color: #77dae6;
  --secondary-color-secondary-1: #1a162e;
  --secondary-color-secondary-2: #9e9da8;
  --secondary-color-secondary-3: #d2d1d6;
  --secondary-color-secondary-4: #ededf6;
  --secondary-color-secondary-5: #f8f8fb;
  --secondary-color-secondary-6: #fafafd;
  --secondary-color-background: #ffffff;
  --purple-purple-black-10: #7644e1;
  --purple-purple-black-20: #7644e1;
  --purple-purple-black-30: #7644e1;
  --purple-purple-black-40: #7644e1;
  --purple-purple-black-50: #7644e1;
  --purple-purple-black-60: #7644e1;
  --purple-purple-black-70: #7644e1;
  --purple-purple-black-80: #7644e1;
  --purple-purple-black-90: #7644e1;
  --purple-purple: #7644e1;
  --purple-purple-90: #7644e1;
  --purple-purple-80: #7644e1;
  --purple-purple-70: #7644e1;
  --purple-purple-60: #7644e1;
  --purple-purple-50: #7644e1;
  --purple-purple-40: #7644e1;
  --purple-purple-30: #7644e1;
  --purple-purple-20: #7644e1;
  --purple-purple-10: #7644e1;
  --green-green-black-10: #67b044;
  --green-green-black-20: #67b044;
  --green-green-black-30: #67b044;
  --green-green-black-40: #67b044;
  --green-green-black-50: #67b044;
  --green-green-black-60: #67b044;
  --green-green-black-70: #67b044;
  --green-green-black-80: #67b044;
  --green-green-black-90: #67b044;
  --green-green: #67b044;
  --green-green-90: #67b044;
  --green-green-80: #67b044;
  --green-green-70: #67b044;
  --green-green-60: #67b044;
  --green-green-50: #67b044;
  --green-green-40: #67b044;
  --green-green-30: #67b044;
  --green-green-20: #67b044;
  --green-green-10: #67b044;
  --blue-blue-black-10: #0071dc;
  --blue-blue-black-20: #0071dc;
  --blue-blue-black-30: #0071dc;
  --blue-blue-black-40: #0071dc;
  --blue-blue-black-50: #0071dc;
  --blue-blue-black-60: #0071dc;
  --blue-blue-black-70: #0071dc;
  --blue-blue-black-80: #0071dc;
  --blue-blue-black-90: #0071dc;
  --blue-blue: #0071dc;
  --blue-blue-90: #0071dc;
  --blue-blue-80: #0071dc;
  --blue-blue-70: #0071dc;
  --blue-blue-60: #0071dc;
  --blue-blue-50: #0071dc;
  --blue-blue-40: #0071dc;
  --blue-blue-30: #0071dc;
  --blue-blue-20: #0071dc;
  --blue-blue-10: #0071dc;
  --yellow-yellow-black-10: #ffb700;
  --yellow-yellow-black-20: #ffb700;
  --yellow-yellow-black-30: #ffb700;
  --yellow-yellow-black-40: #ffb700;
  --yellow-yellow-black-50: #ffb700;
  --yellow-yellow-black-60: #ffb700;
  --yellow-yellow-black-70: #ffb700;
  --yellow-yellow-black-80: #ffb700;
  --yellow-yellow-black-90: #ffb700;
  --yellow-yellow: #ffb700;
  --yellow-yellow-90: #ffb700;
  --yellow-yellow-80: #ffb700;
  --yellow-yellow-70: #ffb700;
  --yellow-yellow-60: #ffb700;
  --yellow-yellow-50: #ffb700;
  --yellow-yellow-40: #ffb700;
  --yellow-yellow-30: #ffb700;
  --yellow-yellow-20: #ffb700;
  --yellow-yellow-10: #ffb700;
  --red-red-black-10: #f94545;
  --red-red-black-20: #f94545;
  --red-red-black-30: #f94545;
  --red-red-black-40: #f94545;
  --red-red-black-50: #f94545;
  --red-red-black-60: #f94545;
  --red-red-black-70: #f94545;
  --red-red-black-80: #f94545;
  --red-red-black-90: #f94545;
  --red-red: #f94545;
  --red-red-90: #f94545;
  --red-red-80: #f94545;
  --red-red-70: #f94545;
  --red-red-60: #f94545;
  --red-red-50: #f94545;
  --red-red-40: #f94545;
  --red-red-30: #f94545;
  --red-red-20: #f94545;
  --red-red-10: #f94545;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

a,
input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.icon {
  filter: var(--icon-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) / 2);
  padding-right: calc(var(--grid-gutter-x) / 2);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) / -2);
  margin-right: calc(var(--grid-gutter-x) / -2);
}
.row > * {
  padding-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media screen and (max-width: 1399.98px) {
  .container {
    width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media screen and (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media screen and (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media screen and (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media screen and (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media screen and (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
/* Color styles */
html {
  --text-color: var(--secondary-color-secondary-1);
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%)
    saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);
  --header-bg-color: var(--background-3);
  --top-act-group-bg-color: var(--secondary-color-background);
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: var(--secondary-color-secondary-4);
  --body-bg: var(--background-2);
  --dropdown-bg-color: var(--secondary-color-background);
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: var(--secondary-color-secondary-3);
  --sidebar-bg: var(--secondary-color-background);
  --sidebar-shadow: rgba(200, 200, 200, 0.4);
}
@media (max-width: 991.98px) {
  html {
    --header-bg-color: var(--secondary-color-background);
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }
}

html.dark {
  --text-color: var(--secondary-color-background);
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
  --header-bg-color: var(--dark-1);
  --top-act-group-bg-color: var(--dark-2);
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: var(--secondary-color-secondary-4);
  --body-bg: var(--dark-2);
  --dropdown-bg-color: var(--dark-4);
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(10%)
    saturate(1342%) hue-rotate(185deg) brightness(93%) contrast(87%);
  --top-menu-border-color: var(--dark-1);
  --menu-heading-icon-color: brightness(0) saturate(100%) invert(98%) sepia(3%)
    saturate(120%) hue-rotate(201deg) brightness(99%) contrast(98%);
  --sidebar-bg: var(--dark-2);
  --sidebar-shadow: rgba(23, 28, 40, 0.4);
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }
}

.top-act__btn, .top-act__group, .top-act, .navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}
@media (max-width: 991.98px) {
  .header {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.top-bar__more {
  margin-right: 40px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .top-bar__more {
    margin-right: 0;
  }
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  .top-bar {
    padding: 16px 0;
    justify-content: space-between;
  }
}

.navbar {
  margin-left: 129px;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 28px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 9;
    inset: 0 50% 0 0;
    margin-left: 0;
    padding: 20px 0;
    background-color: var(--sidebar-bg);
    border-radius: 0px 20px 20px 0px;
    translate: -100%;
    transition: translate 0.5s;
  }
  .navbar.show {
    box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
    translate: 0;
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 10% 0 0;
  }
}
.navbar__close-btn {
  padding: 13px 40px;
}
@media (max-width: 575.98px) {
  .navbar__close-btn {
    padding: 0px 20px 10px;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.5s;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    overscroll-behavior: contain;
    overflow-y: auto;
    flex: 1;
    width: 100%;
  }
}
.navbar__item:hover .dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .dropdown {
    display: none;
  }
  .navbar__item--active .dropdown {
    display: block !important;
  }
}
.navbar__link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%; /* 146.667% */
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 13px 40px;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 150%;
    position: sticky;
    top: 0;
    background-color: var(--sidebar-bg);
    z-index: 1;
  }
}
@media (max-width: 575.98px) {
  .navbar__link {
    padding: 10px 20px;
  }
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    rotate: -90deg;
    transition: rotate 0.5s;
  }
}
.navbar__item--active .navbar__arrow {
  rotate: 0deg;
}

.nav-btn {
  padding: 13px 40px;
  align-items: center;
  width: 100%;
}
@media (max-width: 575.98px) {
  .nav-btn {
    padding: 10px 20px;
  }
}
.nav-btn__title, .nav-btn__qnt {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  margin-left: 16px;
}
.nav-btn__qnt {
  margin-left: auto;
}

.top-act {
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act__group {
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--top-act-group-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__separate {
  height: 30px;
  width: 1px;
  background: var(--top-act-group-separate);
}
.top-act__btn {
  padding: 13px 20px;
  gap: 10px;
  cursor: pointer;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__avatar {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
    height: 24px;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  width: min(1240px, 100%);
  padding-top: 54px;
  display: none;
}
@media (max-width: 991.98px) {
  .dropdown {
    position: static;
    padding-top: 0;
  }
}
.dropdown__inner {
  --inner-max-height: min(583px, 100vh - 158px);
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 2rem;
  background: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
}
.dropdown__inner::before {
  position: absolute;
  content: url("../icons/dropdown-arrow.svg");
  top: -14px;
  left: var(--arrow-left-pos);
  translate: -50%;
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    padding: 0 40px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
  .dropdown__inner::before {
    content: "";
  }
}
@media (max-width: 575.98px) {
  .dropdown__inner {
    padding: 0 20px;
  }
}

.top-menu {
  --main-column-width: 292px;
  --max-inner-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);
  position: relative;
}
.top-menu__main {
  width: var(--main-column-width);
  height: var(--max-inner-height);
  border-right: 1px solid var(--top-menu-border-color);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    height: auto;
    border-right: none;
  }
}

.menu-column + .menu-column {
  margin-top: 20px;
}
.menu-column__header {
  display: flex;
  align-items: center;
  gap: 14px;
}
.menu-column__icon {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.menu-column__icon-1 {
  object-fit: contain;
  width: 30px;
  height: 30px;
}
.menu-column__icon-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  width: 24px;
  height: 24px;
  filter: var(--menu-heading-icon-color);
}
.menu-column__heading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  flex: 1;
}
.menu-column__content {
  padding-left: 50px;
  padding-top: 10px;
}
@media (max-width: 1199.98px) {
  .menu-column__content {
    padding-left: 0px;
  }
}
@media (max-width: 991.98px) {
  .menu-column__content {
    padding-top: 0px;
  }
}
.menu-column__link {
  display: inline-block;
  padding: 7px 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item--active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  color: var(--blue-blue);
  font-weight: 500;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  padding-left: var(--inner-padding);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  overflow: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: static;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
  .sub-menu .menu-column {
    margin-top: 10px;
  }
  .sub-menu .menu-column__content {
    padding-left: 50px;
    padding-top: 15px;
  }
}
.sub-menu--not-main {
  display: grid;
  position: initial;
  inset: initial;
  grid-template-columns: repeat(4, 1fr);
  height: var(--max-inner-height);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.slideshow {
  position: relative;
  margin: 40px 0;
}
@media (max-width: 767.98px) {
  .slideshow {
    margin: 30px 0;
  }
}
.slideshow__inner {
  display: flex;
  overflow: hidden;
}
.slideshow__item {
  position: relative;
  padding-top: 33.9552238806%;
  flex-shrink: 0;
  flex-basis: 100%;
  flex-grow: 1;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 46.7605633803%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.slideshow__page {
  position: absolute;
  width: 12.6865671642%;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 14.5054945055%;
  left: 5.223880597%;
}
@media (max-width: 767.98px) {
  .slideshow__page {
    gap: 12px;
  }
}
.slideshow__num {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .slideshow__num {
    font-size: 1.4rem;
  }
}
.slideshow__slider {
  position: relative;
  flex-shrink: 0;
  margin: 0 14px;
  width: 100%;
  height: 4px;
  background: var(--secondary-color-background);
}
.slideshow__slider::before, .slideshow__slider::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 4px solid #fff;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .slideshow__slider::before, .slideshow__slider::after {
    border: 3px solid #fff;
  }
}
.slideshow__slider::before {
  left: -13px;
}
.slideshow__slider::after {
  right: -13px;
}

/*# sourceMappingURL=main.css.map */
