@use "../abstracts";

html.dark {
  --text-color: var(--secondary-color-background);
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
  --header-bg-color: var(--dark-1);
  --top-act-group-bg-color: var(--dark-2);
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: var(--secondary-color-secondary-4);
  --body-bg: var(--dark-2);

  @include abstracts.screen(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  //Dropdown
  --dropdown-bg-color: var(--dark-4);
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(10%)
    saturate(1342%) hue-rotate(185deg) brightness(93%) contrast(87%);
  --top-menu-border-color: var(--dark-1);
  --menu-heading-icon-color: brightness(0) saturate(100%) invert(98%) sepia(3%)
    saturate(120%) hue-rotate(201deg) brightness(99%) contrast(98%);

  // Side bar
  --sidebar-bg: var(--dark-2);
  --sidebar-shadow: rgba(23, 28, 40, 0.4);
}
