@use "../abstracts";

html {
  --text-color: var(--secondary-color-secondary-1);
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%)
    saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);
  --header-bg-color: var(--background-3);
  --top-act-group-bg-color: var(--secondary-color-background);
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: var(--secondary-color-secondary-4);
  --body-bg: var(--background-2);
  @include abstracts.screen(lg) {
    --header-bg-color: var(--secondary-color-background);
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  //Header
  --header-action-dropdown-bg: var(--secondary-color-background);
  --header-action-dropdown-shadow: rgba(200, 200, 200, 0.4);

  //Dropdown
  --dropdown-bg-color: var(--secondary-color-background);
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: var(--secondary-color-secondary-3);

  // Side bar
  --sidebar-bg: var(--secondary-color-background);
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  // Category Item
  --cate-item-bg: var(--background-3);
  --cate-item-thumb-bg: var(--secondary-color-background);
  --cate-item-title-color: #000;

  @include abstracts.screen("md") {
    --cate-item-bg: var(--secondary-color-background);
  }

  // Buttons
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: var(--secondary-color-background);

  --like-btn-bg: var(--secondary-color-background);

  // Product card
  --product-card-bg: var(--secondary-color-background);
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  // Filter form
  --filter-form-bg: var(--secondary-color-background);
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --form-tag-bg: var(--secondary-color-secondary-5);

  // Footer
  --footer-bg-color: var(--header-bg-color);

  //Form
  --form-placeholder-color: var(--secondary-color-secondary-3);
  --form-input-focus: var(--secondary-color-secondary-1);
  --form-input-hover: var(--secondary-color-secondary-2);
  --form-input-border: var(--secondary-color-secondary-3);

  // Auth
  --auth-content-bg: var(--secondary-color-background);
  @include abstracts.screen("md") {
    --auth-intro-bg: var(--secondary-color-background);
  }
  --auth-text: var(--secondary-color-secondary-2);

  //Product detail
  --product-detail-bg: var(--secondary-color-background);
  --product-detail-info-content-bg: var(--secondary-color-background);
  --product-detail-info-shadow: rgba(237, 237, 246, 0.2);
  --product-info-bg: #f6f6f6;
  @include abstracts.screen("md") {
    --product-detail-bg: var(--secondary-color-secondary-6);
  }
  --tag-bg: var(--secondary-color-secondary-4);
  //Breadcrumbs
  --breadcrumbs-bg: var(--background-2);
  --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
  @include abstracts.screen("md") {
    --breadcrumbs-bg: var(--secondary-color-background);
  }

  //Search bar
  --search-bar-bg: var(--secondary-color-background);
  --search-bar-placeholder: var(--secondary-color-secondary-2);

  // Review Card
  --review-card-bg: var(--secondary-color-secondary-6);
  @include abstracts.screen("md") {
    --review-card-bg: var(--secondary-color-background);
  }

  // Text content
  --text-content-hr-bg: #ebebeb;
}
