<div class="container">
    <div class="footer__row">
        <div class="footer__col">
            <!-- Logo -->
            <a href="" class="logo">
                <img class="logo__img" src="./assets/icons/logo.svg" alt="Grocery Mart">
                <h1 class="logo__title">grocerymart</h1>
            </a>

            <p class="footer__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut officia commodi, quas
                sapiente pariatur distinctio magni iusto officiis sunt reiciendis praesentium voluptatibus corrupti!
                Laudantium exercitationem sequi fugit, totam id fugiat?
            </p>

            <p class="footer__help-text">Receive product news and updates</p>

            <form action="" class="footer__form-email">
                <input type="email" class="footer__form-input" placeholder="Email address">
                <button class="btn btn--primary">SEND</button>
            </form>
        </div>

        <div class="footer__col">
            <h3 class="footer__heading">SHOP</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        All Departments
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Fashion Deals
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Electronics Discounts
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Home & Living Specials
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Beauty Bargains
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__col">
            <h3 class="footer__heading">SUPPORT</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Store locator
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Order status
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__col">
            <h3 class="footer__heading">COMPANY</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Customer Service
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Terms of Use
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Privacy
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Careers
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        About
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">
                        Affiliates
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__col">
            <h3 class="footer__heading">CONTACT</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <span class="footer__label">Email</span>
                    <a href="mailto:contact@grocerymart.com" class="footer__link">
                        contact@grocerymart.com
                    </a>
                </li>
                <li class="footer__item">
                    <span class="footer__label">Hotline</span>
                    <a href="tel:18008888" class="footer__link">
                        18008888
                    </a>
                </li>
                <li class="footer__item">
                    <span class="footer__label">Address</span>
                    <p class="footer__text">
                        No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                    </p>
                </li>
                <li class="footer__item">
                    <span class="footer__label">Hours</span>
                    <p class="footer__text">
                        M - F 08:00am - 06:00pm
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon">
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon">
            </a>
        </div>
    </div>
</div>