/* Color styles */
$dark-1: rgba(23, 28, 40, 1);
$dark-2: rgba(41, 46, 57, 1);
$dark-3: rgba(185, 186, 190, 1);
$background-2: rgba(246, 246, 246, 1);
$background-3: rgba(238, 238, 238, 1);
$secondary-color: rgba(119, 218, 230, 1);
$secondary--color---secondary-1: rgba(26, 22, 46, 1);
$secondary--color---secondary-2: rgba(158, 157, 168, 1);
$secondary--color---secondary-3: rgba(210, 209, 214, 1);
$secondary--color---secondary-4: rgba(237, 237, 246, 1);
$secondary--color---secondary-5: rgba(248, 248, 251, 1);
$secondary--color---secondary-6: rgba(250, 250, 253, 1);
$secondary--color---background: rgba(255, 255, 255, 1);
$purple---purple--black-10: rgba(118, 68, 225, 1);
$purple---purple--black-20: rgba(118, 68, 225, 1);
$purple---purple--black-30: rgba(118, 68, 225, 1);
$purple---purple--black-40: rgba(118, 68, 225, 1);
$purple---purple--black-50: rgba(118, 68, 225, 1);
$purple---purple--black-60: rgba(118, 68, 225, 1);
$purple---purple--black-70: rgba(118, 68, 225, 1);
$purple---purple--black-80: rgba(118, 68, 225, 1);
$purple---purple--black-90: rgba(118, 68, 225, 1);
$purple---purple: rgba(118, 68, 225, 1);
$purple---purple-90: rgba(118, 68, 225, 1);
$purple---purple-80: rgba(118, 68, 225, 1);
$purple---purple-70: rgba(118, 68, 225, 1);
$purple---purple-60: rgba(118, 68, 225, 1);
$purple---purple-50: rgba(118, 68, 225, 1);
$purple---purple-40: rgba(118, 68, 225, 1);
$purple---purple-30: rgba(118, 68, 225, 1);
$purple---purple-20: rgba(118, 68, 225, 1);
$purple---purple--10: rgba(118, 68, 225, 1);
$green---green--black-10: rgba(103, 176, 68, 1);
$green---green--black-20: rgba(103, 176, 68, 1);
$green---green--black-30: rgba(103, 176, 68, 1);
$green---green--black-40: rgba(103, 176, 68, 1);
$green---green--black-50: rgba(103, 176, 68, 1);
$green---green--black-60: rgba(103, 176, 68, 1);
$green---green--black-70: rgba(103, 176, 68, 1);
$green---green--black-80: rgba(103, 176, 68, 1);
$green---green--black-90: rgba(103, 176, 68, 1);
$green---green: rgba(103, 176, 68, 1);
$green---green-90: rgba(103, 176, 68, 1);
$green---green-80: rgba(103, 176, 68, 1);
$green---green-70: rgba(103, 176, 68, 1);
$green---green-60: rgba(103, 176, 68, 1);
$green---green-50: rgba(103, 176, 68, 1);
$green---green-40: rgba(103, 176, 68, 1);
$green---green-30: rgba(103, 176, 68, 1);
$green---green-20: rgba(103, 176, 68, 1);
$green---green-10: rgba(103, 176, 68, 1);
$blue---blue--black-10: rgba(0, 113, 220, 1);
$blue---blue--black-20: rgba(0, 113, 220, 1);
$blue---blue--black-30: rgba(0, 113, 220, 1);
$blue---blue--black-40: rgba(0, 113, 220, 1);
$blue---blue--black-50: rgba(0, 113, 220, 1);
$blue---blue--black-60: rgba(0, 113, 220, 1);
$blue---blue--black-70: rgba(0, 113, 220, 1);
$blue---blue--black-80: rgba(0, 113, 220, 1);
$blue---blue--black-90: rgba(0, 113, 220, 1);
$blue---blue: rgba(0, 113, 220, 1);
$blue---blue-90: rgba(0, 113, 220, 1);
$blue---blue-80: rgba(0, 113, 220, 1);
$blue---blue-70: rgba(0, 113, 220, 1);
$blue---blue-60: rgba(0, 113, 220, 1);
$blue---blue-50: rgba(0, 113, 220, 1);
$blue---blue-40: rgba(0, 113, 220, 1);
$blue---blue-30: rgba(0, 113, 220, 1);
$blue---blue-20: rgba(0, 113, 220, 1);
$blue---blue-10: rgba(0, 113, 220, 1);
$yellow---yellow--black-10: rgba(255, 183, 0, 1);
$yellow---yellow--black-20: rgba(255, 183, 0, 1);
$yellow---yellow--black-30: rgba(255, 183, 0, 1);
$yellow---yellow--black-40: rgba(255, 183, 0, 1);
$yellow---yellow--black-50: rgba(255, 183, 0, 1);
$yellow---yellow--black-60: rgba(255, 183, 0, 1);
$yellow---yellow--black-70: rgba(255, 183, 0, 1);
$yellow---yellow--black-80: rgba(255, 183, 0, 1);
$yellow---yellow--black-90: rgba(255, 183, 0, 1);
$yellow---yellow: rgba(255, 183, 0, 1);
$yellow---yellow-90: rgba(255, 183, 0, 1);
$yellow---yellow-80: rgba(255, 183, 0, 1);
$yellow---yellow-70: rgba(255, 183, 0, 1);
$yellow---yellow-60: rgba(255, 183, 0, 1);
$yellow---yellow-50: rgba(255, 183, 0, 1);
$yellow---yellow-40: rgba(255, 183, 0, 1);
$yellow---yellow-30: rgba(255, 183, 0, 1);
$yellow---yellow-20: rgba(255, 183, 0, 1);
$yellow---yellow-10: rgba(255, 183, 0, 1);
$red---red--black-10: rgba(249, 69, 69, 1);
$red---red--black-20: rgba(249, 69, 69, 1);
$red---red--black-30: rgba(249, 69, 69, 1);
$red---red--black-40: rgba(249, 69, 69, 1);
$red---red--black-50: rgba(249, 69, 69, 1);
$red---red--black-60: rgba(249, 69, 69, 1);
$red---red--black-70: rgba(249, 69, 69, 1);
$red---red--black-80: rgba(249, 69, 69, 1);
$red---red--black-90: rgba(249, 69, 69, 1);
$red---red: rgba(249, 69, 69, 1);
$red---red-90: rgba(249, 69, 69, 1);
$red---red-80: rgba(249, 69, 69, 1);
$red---red-70: rgba(249, 69, 69, 1);
$red---red-60: rgba(249, 69, 69, 1);
$red---red-50: rgba(249, 69, 69, 1);
$red---red-40: rgba(249, 69, 69, 1);
$red---red-30: rgba(249, 69, 69, 1);
$red---red-20: rgba(249, 69, 69, 1);
$red---red-10: rgba(249, 69, 69, 1);
